<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 应用使用蓝牙的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" /> <!-- 启动设备发现或操作蓝牙设置的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" /> <!-- 位置权限 -->
    <!-- Android 10以上系统，需要ACCESS_FINE_LOCATION -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- Android 9以及一下系统，需要ACCESS_FINE_LOCATION -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BLE"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.TermsOfServiceActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.StartAppActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.SignInActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.HelpActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.DailyReadingsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.ArticleActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.CalendarActivity2"
            android:exported="true" />
        <activity
            android:name=".ui.activity.BleActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.CalendarActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.LineChartActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.ShareActivity"
            android:exported="true" />
        <activity
            android:name=".test"
            android:exported="true" />
        <activity
            android:name=".ui.activity.Ble_ConnectActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true"
            android:label="Two Mountains"></activity>
    </application>

</manifest>